---
---
<nav class="w-full bg-green-700 text-white sticky top-0 z-50">
  <ul class="flex flex-row justify-center gap-6 py-3">
    <li>
      <a href="/" class="hover:underline font-semibold">Home</a>
    </li>
    <li>
      <a href="/about" class="hover:underline">About</a>
    </li>
    <li>
      <a href="/category" class="hover:underline">カテゴリ</a>
    </li>
  </ul>
</nav>
